<a href="https://colab.research.google.com/github/tejaswini8213/Titanic-Kaggle/blob/main/titanic_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf

In [ ]:
! pip install -q kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list
! kaggle competitions download -c titanic
! unzip titanic.zip

mkdir: cannot create directory â€˜/root/.kaggleâ€™: File exists
ref                                                            title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
akshaydattatraykhare/diabetes-dataset                          Diabetes Dataset                                      9KB  2022-10-06 08:55:25          16383        477  1.0
akshaydattatraykhare/data-for-admission-in-the-university      Data for Admission in the University                  4KB  2022-10-27 11:05:45           4233         99  1.0
thedevastator/jobs-dataset-from-glassdoor                      Salary Prediction                                     3MB  2022-11-16 13:52:31            781         28  1.0
swaptr/layoffs-2022                                            Layoffs 2022                                         30KB  2022-11-20 18:05:26           1335         42  1.0
meirnizri/covid19-dataset                                      COVID-19 Dataset                                      5MB  2022-11-13 15:47:17           1306         35  1.0
dheerajmukati/india-gdp-19602022                               India GDP 1960-2022                                   1KB  2022-11-11 12:08:46            679         26  1.0
whenamancodes/predict-diabities                                Predict Diabetes                                      9KB  2022-11-09 12:18:49           1981         44  1.0
elmoallistair/fertility-rate-19602020                          Fertility Rate (1960-2020)                           19KB  2022-11-17 01:31:16            404         25  0.9117647
zvr842/global-pollution-by-counties                            Global pollution by counties                         15KB  2022-11-14 10:57:31            700         24  0.9705882
whenamancodes/credit-card-customers-prediction                 Credit Card Customers Prediction                    379KB  2022-10-30 13:03:27           2821         62  1.0
whenamancodes/covid-19-coronavirus-pandemic-dataset            COVID -19 Coronavirus Pandemic Dataset               11KB  2022-09-30 04:05:11          11915        371  1.0
jillanisofttech/flight-price-prediction-dataset                Flight Price Prediction DataSet                     602KB  2022-11-18 10:37:29            755         26  0.7941176
ifteshanajnin/carinsuranceclaimprediction-classification       Car Insurance Claim Prediction                        2MB  2022-11-14 15:38:26            570         24  1.0
dbarteaux99/stable-diffusion-1-5                               Stable Diffusion 1.5 (normal and EMAonly) with vae    7GB  2022-10-23 15:40:29             42         16  0.9375
maharshipandya/-spotify-tracks-dataset                         ðŸŽ¹ Spotify Tracks Dataset                              8MB  2022-10-22 14:40:15           3566        102  1.0
aneesayoub/world-universities-ranking-2022                     World Universities Ranking 2022                      41KB  2022-11-17 03:47:37           1238         33  0.9117647
hasibalmuzdadid/global-air-pollution-dataset                   Global Air Pollution Dataset                        371KB  2022-11-08 14:43:32           2084         56  1.0
thedevastator/cancer-patients-and-air-pollution-a-new-link      Lung Cancer Prediction                               7KB  2022-11-14 13:40:40            873         32  1.0
salmankhaliq22/road-traffic-collision-dataset                  UK Road Traffic Collision Dataset                    99MB  2022-11-09 06:46:16            567         32  1.0
thedevastator/top-selling-nintendo-entertainment-system-games  Nintendo Entertainment System Games                  23KB  2022-11-11 17:47:38            508         22  0.85294116
titanic.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  titanic.zip
replace gender_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: gender_submission.csv
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [ ]:
df_train=pd.read_csv("train.csv") 
df_test= pd.read_csv("test.csv")

In [ ]:
df_train.drop("Name",inplace=True, axis=1) 
df_test.drop("Name",inplace=True, axis=1)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ KB

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [ ]:
df_train["Sex"].replace("female",1,inplace=True)  
df_test["Sex"].replace("female",1,inplace=True) 
df_train["Sex"].replace("male",0,inplace=True)  
df_test["Sex"].replace("male",0,inplace=True)  
df_train.drop("PassengerId",inplace=True, axis=1)

In [ ]:
df_train.drop("Ticket",inplace=True, axis=1) 
df_test.drop("Ticket",inplace=True, axis=1) 
df_train.drop("Cabin",inplace=True, axis=1) 
df_test.drop("Cabin",inplace=True, axis=1) 
df_train["Age"].fillna(df_train["Age"].mean(),inplace=True) 
df_test["Age"].fillna(df_test["Age"].mean(),inplace=True)  
df_train["Embarked"].fillna(df_train["Embarked"].mode()[0],inplace=True) 
df_test["Embarked"].fillna(df_test["Embarked"].mode()[0],inplace=True)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [ ]:
df_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
Embarked       0
dtype: int64

In [ ]:
df_train.dropna(how="any",inplace=True)
df_test['Fare'].fillna(df_test["Fare"].mean(),inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler 
#normalisation of age
scaler= MinMaxScaler() 
df_train[["Age"]]= scaler.fit_transform(df_train[["Age"]])
df_test[["Age"]]= scaler.fit_transform(df_test[["Age"]]) 
#normalisation of fare
df_train[["Fare"]]= scaler.fit_transform(df_train[["Fare"]])
df_test[["Fare"]]= scaler.fit_transform(df_test[["Fare"]])

In [ ]:
from sklearn.preprocessing import LabelEncoder 
le= LabelEncoder()
df_train["Embarked"]=le.fit_transform(df_train["Embarked"])
df_test["Embarked"]=le.fit_transform(df_test["Embarked"])

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [ ]:
y_train=df_train["Survived"] 
x_train=df_train.drop("Survived",axis=1)

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_val, Y_train, Y_val= train_test_split(x_train,y_train,test_size=0.2,random_state=40)

In [ ]:
# Change 1 - Take passengerId as a separate list and remove it from df_test
passId = df_test['PassengerId']
df_test = df_test.drop(['PassengerId'],axis=1)
passId

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [ ]:
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
model_lr= LogisticRegression().fit(X_train,Y_train) 
y_pred = model_lr.predict(X_val)
print(accuracy_score(y_pred,Y_val))
print(classification_report(y_pred,Y_val))

0.8156424581005587
              precision    recall  f1-score   support

           0       0.84      0.84      0.84       104
           1       0.78      0.79      0.78        75

    accuracy                           0.82       179
   macro avg       0.81      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [ ]:
# Change 2 - Predict on the df_test
y_pred = model_lr.predict(df_test)

In [ ]:
predictions_csv = {"PassengerId":passId,"Survived":y_pred}
df = pd.DataFrame(predictions_csv)
df.to_csv("submission.csv",index = False)